<!DOCTYPE html> 

<html>
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width">
		
		
		<link rel="shortcut icon" href="./img/favicon.ico">
		
		<link rel="stylesheet" type="text/css" href="./style/reset.css" >
		<link rel="stylesheet" type="text/css" href="./style/desktopstyle.css">
		<link rel="stylesheet" type="text/css" href="./style/little.css" media="(max-width: 570px) and (min-width: 521px)"/>
		<link rel="stylesheet" type="text/css" href="./style/tiny.css" media="(max-width: 520px)"/>
		

		<title>Broomtastic</title>
	</head>




	<body>
		<script src="./js/myscript.js"></script>

		<div id="wrapper">	
			<header>
				<nav>
					<a href="/"><img id="broomtastic" src="./img/broomtastic_logo.jpg" alt="Broomtastic" /></a>
					<div class="dropdown">

						<button class="dropbutton">{{user}}</button>
						{{{dropdowncontent}}}

					</div>
					<img id="owl" src="./img/owl.jpg" alt="Shopping Owl"/>
				</nav>
			</header>





			<section>
				<p class="feedback">{{feedback}} </p>

				<h1>{{headline}}</h1>

				<br>
				<br>
				<br>

					{{{content1}}}
					{{{content2}}}
					{{{content3}}}

				<br>
				<br>
				<br>
			</section>




			<footer>
				Ideas belong to Joanne K. Rowling. This website serves no commercial use.<br>
				Copyright Anja Bergmann and Johanna Kirchmaier, ITM14
			</footer>
		</div>
	</body>
</html>