<!DOCTYPE html> 

<html>
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width">

		<link rel="shortcut icon" href="./img/favicon.png" type="image/png">
		
		<link rel="stylesheet" type="text/css" href="./style/reset.css" >
		<link rel="stylesheet" type="text/css" href="./style/desktopstyle.css">
		<link rel="stylesheet" type="text/css" href="./style/little.css" media="(max-width: 570px) and (min-width: 521px)"/>
		<link rel="stylesheet" type="text/css" href="./style/tiny.css" media="(max-width: 520px)"/>
		

		<title>Broomtastic</title>
	</head>




	<body>
		<script src="./js/myscript.js"></script>
		<script src="./js/userCRUD.js"></script>

		<div id="wrapper">	
			<header>
				<nav>
					<a href="/"><img id="broomtastic" src="./img/broomtastic_logo.jpg" alt="Broomtastic" /></a>
					<div class="dropdown">

						<button id="dropdownuser" class="dropbutton">{{user}}</button>
						{{{dropdowncontent}}}

					</div>
					<img id="owl" src="./img/owl.jpg" alt="Shopping Owl"/>
				</nav>
			</header>





			<section>
				<p class="feedback">{{feedback}} </p>

				<h1>{{headline}}</h1>


	<p class="title1">Change Username</p><br>
	<p id="changeUsernameFeedback"></p>
	<input class="registerinput" type="text" id="changeUsernameUsername" placeholder="username" required><br>
	<input class="registerinput" type="password" id="changeUsernamePassword" placeholder="password" required><br>
	<input class="registerinput" type="button" id="changeUsernameButton" value="Submit" onclick=changeUsername()><br><br>

	<p class="title1">Change Password</p><br>
	<p id="changePasswordFeedback"></p>
	<input class="registerinput" type="password" id="changePasswordPassword" placeholder="Current password" required><br>
	<input class="registerinput" type="password" id="changePasswordNewPassword" placeholder="New password" required><br>
	<input class="registerinput" type="password" id="changePasswordNewPassword2" placeholder="Repeat new password" required><br>
	<input class="registerinput" type="button" id="changePasswordButton" value="Submit" onclick=changePassword()><br><br>


	<p class="title1">Change Email Address</p><br><p>To confirm your new email address you will get a confirmation email. You will have to click the link in the email to be able to log in again.</p><br>
	<p id="changeEmailFeedback"></p>
	<input id="changeEmailEmail" class="registerinput" type="email" placeholder="New email address" required><br>
	<input id="changeEmailPassword" class="registerinput" type="password" placeholder="Password" required><br>
	<input class="registerinput" type="button" id="changeEmailButton" value="Submit" onclick=changeEmail()><br><br>


	<p class="title1">Delete Account</p><br>
	<p id="deleteFeedback"></p>
	<input id="deletePassword" class="registerinput" type="password" placeholder="Password" required><br>
	<input class="registerinput" type="button" id="deleteButton" value="Submit" onclick=deleteUser()><br><br>





				<br>
				<br>

					{{{content1}}}
					{{{content2}}}
					{{{content3}}}

				<br>
				<br>
				<br>
			</section>




			<footer>
				Ideas belong to Joanne K. Rowling. This website serves no commercial use.<br>
				Copyright Anja Bergmann and Johanna Kirchmaier, ITM14
			</footer>
		</div>
	</body>
</html>